/*Based on normalize.css*/
.${r} {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
.${r} body { margin: 0; }
.${r} main { display: block; }
.${r} h1 { margin: 0.67em 0; }
.${r} hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}
.${r} pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
.${r} a {
  background-color: transparent;
}
.${r} abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
.${r} b,
.${r} strong {
  font-weight: bolder;
}
.${r} code,
.${r} kbd,
.${r} samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
.${r} small {
  font-size: 0.8em;
}
.${r} sub,
.${r} sup {
  font-size: 0.8em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.${r} sub {
  bottom: -0.25em;
}
.${r} sup {
  top: -0.5em;
}
.${r} img {
  border-style: none;
}
.${r} button,
.${r} input,
.${r} optgroup,
.${r} select,
.${r} textarea {
  font-family: inherit;
  font-size: 1em;
  line-height: 1.15;
  margin: 0;
}
.${r} button[disabled],
.${r} input[disabled],
.${r} optgroup[disabled],
.${r} select[disabled],
.${r} textarea[disabled] {
    opacity: 0.5;
    cursor: default!important;
}
.${r} button,
.${r} input {
  overflow: visible;
}
.${r} button,
.${r} select {
  text-transform: none;
}
.${r} button,
.${r} [type="button"],
.${r} [type="reset"],
.${r} [type="submit"] {
  -webkit-appearance: button;
}
.${r} button::-moz-focus-inner,
.${r} [type="button"]::-moz-focus-inner,
.${r} [type="reset"]::-moz-focus-inner,
.${r} [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
.${r} button:-moz-focusring,
.${r} [type="button"]:-moz-focusring,
.${r} [type="reset"]:-moz-focusring,
.${r} [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
.${r} fieldset {
  padding: 0.35em 0.75em 0.625em;
}
.${r} legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
.${r} progress {
  vertical-align: baseline;
}
.${r} textarea {
  overflow: auto;
}
.${r} [type="checkbox"],
.${r} [type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
.${r} [type="number"]::-webkit-inner-spin-button,
.${r} [type="number"]::-webkit-outer-spin-button {
  height: auto;
}
.${r} [type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
.${r} [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.${r} ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
.${r} details {
  display: block;
}
.${r} summary {
  display: list-item;
}
.${r} template {
  display: none;
}
.${r} [hidden] {
  display: none;
}

/*Custom reset*/
.${r} {
  font-family: sans-serif;
  font-size: 18px;
  color: #222222;
}
.${r},
.${r} * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
.${r} a {
  text-decoration: none;
  color: inherit;
}
.${r} ul,
.${r} ol,
.${r} p,
.${r} blockquote,
.${r} code,
.${r} h1,
.${r} h2,
.${r} h3,
.${r} h4,
.${r} h5,
.${r} h6 {
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: normal;
}
.${r} h1 {
  font-size: 2em;
}
.${r} h2 {
  font-size: 1.8em;
}
.${r} h3 {
  font-size: 1.6em;
}
.${r} h4 {
  font-size: 1.4em;
}
.${r} h5 {
  font-size: 1.2em;
}
.${r} h6 {
  font-size: 1em;
}
.${r} small,
.${r} sup,
.${r} sub {
  font-size: 0.8em;
}
.${r} table {
  width: 100%;
  border-collapse: collapse;
}
.${r} th {
  font-weight: normal;
}
.${r} th,
.${r} td {
  padding: 0;
  vertical-align: middle;
}
.${r} br {
  line-height: 1em;
}
.${r} hr {
  border: 0;
  height: 1px;
  margin: 1em 0;
  background-color: #CCCCCC;
}
.${r} input,
.${r} select,
.${r} textarea,
.${r} button {
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5;
  border: 1px solid #CCCCCC;
  padding: 0.25em 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.${r} input::-ms-expand,
.${r} select::-ms-expand,
.${r} textarea::-ms-expand,
.${r} button::-ms-expand {
  display: none;
}
.${r} input,
.${r} select,
.${r} textarea,
.${r} button,
.${r} input:focus,
.${r} select:focus,
.${r} textarea:focus,
.${r} button:focus {
  outline: none;
}
.${r} input,
.${r} select,
.${r} textarea {
  background-color: #FFFFFF;
}
.${r} select,
.${r} button,
.${r} input[type="submit"] {
  cursor: pointer;
}
.${r} button,
.${r} input[type="submit"] {
  background-color: #CCCCCC;
}
.${r} button::-moz-focus-inner,
.${r} a::-moz-focus-inner {
  border: 0;
}
.${r} label {
  display: inline-block;
}