/*Easing*/
.${r} .${x}${s}ease {
    -webkit-transition: all ${speed} cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: all ${speed} cubic-bezier(0.25, 0.1, 0.25, 1);
}
.${r} .${x}${s}ease-out-back {
    -webkit-transition: all${speed} cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all ${speed} cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/*Spin*/
@-webkit-keyframes ${x}spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes ${x}spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.${r} .${x}${s}spin {
    display: inline-block;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation: ${x}spin ${speed} 1 linear;
    animation: ${x}spin ${speed} 1 linear;
}
.${r} .${x}${s}infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/*Speed*/
.${r} .${x}${s}slow {
    -webkit-transition-duration: ${(speed*2)}s;
    transition-duration: ${(speed*2)}s;
    -webkit-animation-duration: ${(speed*2)}s;
    animation-duration: ${(speed*2)}s;
}
.${r} .${x}${s}fast {
    -webkit-transition-duration: ${(speed/2)}s;
    transition-duration: ${(speed/2)}s;
    -webkit-animation-duration: ${(speed/2)}s;
    animation-duration: ${(speed/2)}s;
}
.${r} .${x}${s}faster {
    -webkit-transition-duration: ${(speed/4)}s;
    transition-duration: ${(speed/4)}s;
    -webkit-animation-duration: ${(speed/4)}s;
    animation-duration: ${(speed/4)}s;
}
.${r} .${x}${s}fastest {
    -webkit-transition-duration: ${(speed/6)}s;
    transition-duration: ${(speed/6)}s;
    -webkit-animation-duration: ${(speed/6)}s;
    animation-duration: ${(speed/6)}s;
}
.${r} .${x}${s}instant {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
}