/*Text size*/
.${r} .${x}${s}jumbo { font-size: 2.6em; }
.${r} .${x}${s}bigger { font-size: 2.4em; }
.${r} .${x}${s}big { font-size: 2.2em; }
.${r} .${x}${s}h1 { font-size: 2em; }
.${r} .${x}${s}h2 { font-size: 1.8em; }
.${r} .${x}${s}h3 { font-size: 1.6em; }
.${r} .${x}${s}h4 { font-size: 1.4em; }
.${r} .${x}${s}h5 { font-size: 1.2em; }
.${r} .${x}${s}h6 { font-size: 1em; }
.${r} .${x}${s}small { font-size: 0.8em; }
.${r} .${x}${s}smaller { font-size: 0.6em; }
.${r} .${x}${s}micro { font-size: 0.4em; }
.${r} .${x}${s}h0 { font-size: 0em; }

/*Text style*/
.${r} .${x}${s}bolder { font-weight: 600; }
.${r} .${x}${s}bold { font-weight: 500; }
.${r} .${x}${s}regular { font-weight: 400; }
.${r} .${x}${s}thin { font-weight: 300; }
.${r} .${x}${s}thinner { font-weight: 200; }

.${r} .${x}${s}italic { font-style: italic; }
.${r} .${x}${s}upper { text-transform: uppercase; }
.${r} .${x}${s}lower { text-transform: lowercase; }
.${r} .${x}${s}underline { text-decoration: underline; }
.${r} .${x}${s}nowrap { white-space: nowrap; }
.${r} .${x}${s}ellipsis {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*Line height*/
.${r} .${x}${s}lnh0  { line-height: 0; }
.${r} .${x}${s}lnh05 { line-height: 0.5; }
.${r} .${x}${s}lnh1  { line-height: 1; }

/*Cursor*/
.${r} .${x}${s}pointer { cursor: pointer; }

/*Selection*/
.${r} .${x}${s}unsel {
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.${r} .${x}${s}sel {
    -ms-user-select: auto;
    user-select: auto;
    -moz-user-select: auto;
    -webkit-user-select: auto;
}

/*Box layout*/
.${r} .${x}${s}block { display: block; }
.${r} .${x}${s}inline { display: inline-block; }
.${r} .${x}${s}hide { visibility: hidden; }
.${r} .${x}${s}none { display: none; }
.${r} .${x}${s}abs { position: absolute; }
.${r} .${x}${s}rel { position: relative; }
.${r} .${x}${s}fix { position: fixed; }
.${r} .${x}${s}cbox {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.${r} .${x}${s}bbox {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*Positioning*/
.${r} .${x}${s}t { top: 0; }
.${r} .${x}${s}r { right: 0; }
.${r} .${x}${s}b { bottom: 0; }
.${r} .${x}${s}l { left: 0; }
.${r} .${x}${s}t100 { top: 100%; }
.${r} .${x}${s}r100 { right: 100%; }
.${r} .${x}${s}b100 { bottom: 100%; }
.${r} .${x}${s}l100 { left: 100%; }

/*Sizing*/
.${r} .${x}${s}full { width: 100%; height: 100%; }
.${r} .${x}${s}full-x { width: 100%; }
.${r} .${x}${s}full-y { height: 100%; }

/*Scroll*/
.${r} .${x}${s}mask { overflow: hidden; }
.${r} .${x}${s}scroll { overflow: auto; }
.${r} .${x}${s}swiper {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.${r} .${x}${s}swiper::-webkit-scrollbar { display: none; }

/*Align*/
.${r} .${x}${s}align-c { text-align: center; }
.${r} .${x}${s}align-r { text-align: right; }
.${r} .${x}${s}align-l { text-align: left; }
.${r} .${x}${s}align-m { vertical-align: middle; }
.${r} .${x}${s}align-b { vertical-align: bottom; }
.${r} .${x}${s}align-t { vertical-align: top; }

/*Radius*/
.${r} .${x}${s}circ {
    -webkit-border-radius: 99999999px;
    border-radius: 99999999px;
}
.${r} .${x}${s}rad {
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.${r} .${x}${s}rad-no {
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.${r} .${x}${s}rad-tl {
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}
.${r} .${x}${s}rad-bl {
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.${r} .${x}${s}rad-tr {
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}
.${r} .${x}${s}rad-br {
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/*Shadow*/
.${r} .${x}${s}shad {
    -webkit-box-shadow:
       0px 1px 3px 0px rgba(0,0,0,0.2),
       0px 1px 1px 0px rgba(0,0,0,0.2),
       0px 2px 1px -1px rgba(0,0,0,0.2)
   ;
    box-shadow:
       0px 1px 3px 0px rgba(0,0,0,0.2),
       0px 1px 1px 0px rgba(0,0,0,0.2),
       0px 2px 1px -1px rgba(0,0,0,0.2)
   ;
}
.${r} .${x}${s}shad-no {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*Opacity*/
.${r} .${x}${s}opc0 { opacity: 0; }
.${r} .${x}${s}opc10 { opacity: 0.1; }
.${r} .${x}${s}opc20 { opacity: 0.2; }
.${r} .${x}${s}opc30 { opacity: 0.3; }
.${r} .${x}${s}opc40 { opacity: 0.4; }
.${r} .${x}${s}opc50 { opacity: 0.5; }
.${r} .${x}${s}opc60 { opacity: 0.6; }
.${r} .${x}${s}opc70 { opacity: 0.7; }
.${r} .${x}${s}opc80 { opacity: 0.8; }
.${r} .${x}${s}opc90 { opacity: 0.9; }
.${r} .${x}${s}opc100 { opacity: 1; }

/*Border*/
.${r} .${x}${s}bd { border-width: 1px; border-style: solid; }
.${r} .${x}${s}bd-xs { border-width: 1px; border-style: solid; }
.${r} .${x}${s}bd-sm { border-width: 2px; border-style: solid; }
.${r} .${x}${s}bd-md { border-width: 3px; border-style: solid; }
.${r} .${x}${s}bd-lg { border-width: 4px; border-style: solid; }
.${r} .${x}${s}bd-xl { border-width: 5px; border-style: solid; }
.${r} .${x}${s}bd-no { border: 0; }
.${r} .${x}${s}bd-t-no { border-top: 0; }
.${r} .${x}${s}bd-r-no { border-right: 0; }
.${r} .${x}${s}bd-b-no { border-bottom: 0; }
.${r} .${x}${s}bd-l-no { border-left: 0; }
.${r} .${x}${s}dotted { border-style: dotted; }
.${r} .${x}${s}dashed { border-style: dashed; }

/*Background image*/
.${r} .${x}${s}bg-img {
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.${r} .${x}${s}bg0 { background-size: 0%; }
.${r} .${x}${s}bg10 { background-size: 10%; }
.${r} .${x}${s}bg20 { background-size: 20%; }
.${r} .${x}${s}bg30 { background-size: 30%; }
.${r} .${x}${s}bg40 { background-size: 40%; }
.${r} .${x}${s}bg50 { background-size: 50%; }
.${r} .${x}${s}bg60 { background-size: 60%; }
.${r} .${x}${s}bg70 { background-size: 70%; }
.${r} .${x}${s}bg80 { background-size: 80%; }
.${r} .${x}${s}bg90 { background-size: 90%; }
.${r} .${x}${s}bg100 { background-size: 100%; }
.${r} .${x}${s}cover { background-size: cover; }
.${r} .${x}${s}contain { background-size: contain; }
.${r} .${x}${s}repeat {
    background-size: auto;
    background-repeat: repeat;
}

/*Z Index*/
.${r} .${x}${s}idx0 { z-index: 0; }
.${r} .${x}${s}idx1 { z-index: 1; }
.${r} .${x}${s}idx2 { z-index: 2; }
.${r} .${x}${s}idx3 { z-index: 3; }
.${r} .${x}${s}idx10 { z-index: 10; }
.${r} .${x}${s}idx20 { z-index: 20; }
.${r} .${x}${s}idx30 { z-index: 30; }
.${r} .${x}${s}idx100 { z-index: 100; }
.${r} .${x}${s}idx200 { z-index: 200; }
.${r} .${x}${s}idx300 { z-index: 300; }
.${r} .${x}${s}idx1000 { z-index: 1000; }
.${r} .${x}${s}idx2000 { z-index: 2000; }
.${r} .${x}${s}idx3000 { z-index: 3000; }
.${r} .${x}${s}on-top { z-index: 999999999; }

/*Table*/
.${r} .${x}${s}strp > *:nth-of-type(even) {
    background-color: rgba(0,0,0,0.2);
}