<?CSS(?>

/*Based on normalize.css*/
.${x} {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
.${x} body { margin: 0; }
.${x} main { display: block; }
.${x} h1 { margin: 0.67em 0; }
.${x} hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}
.${x} pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
.${x} a {
  background-color: transparent;
}
.${x} abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
.${x} b,
.${x} strong {
  font-weight: bolder;
}
.${x} code,
.${x} kbd,
.${x} samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
.${x} small {
  font-size: 0.8em;
}
.${x} sub,
.${x} sup {
  font-size: 0.8em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.${x} sub {
  bottom: -0.25em;
}
.${x} sup {
  top: -0.5em;
}
.${x} img {
  border-style: none;
}
.${x} button,
.${x} input,
.${x} optgroup,
.${x} select,
.${x} textarea {
  font-family: inherit;
  font-size: 1em;
  line-height: 1.15;
  margin: 0;
}
.${x} button[disabled],
.${x} input[disabled],
.${x} optgroup[disabled],
.${x} select[disabled],
.${x} textarea[disabled] {
    opacity: 0.5;
}
.${x} button,
.${x} input {
  overflow: visible;
}
.${x} button,
.${x} select {
  text-transform: none;
}
.${x} button,
.${x} [type="button"],
.${x} [type="reset"],
.${x} [type="submit"] {
  -webkit-appearance: button;
}
.${x} button::-moz-focus-inner,
.${x} [type="button"]::-moz-focus-inner,
.${x} [type="reset"]::-moz-focus-inner,
.${x} [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
.${x} button:-moz-focusring,
.${x} [type="button"]:-moz-focusring,
.${x} [type="reset"]:-moz-focusring,
.${x} [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
.${x} fieldset {
  padding: 0.35em 0.75em 0.625em;
}
.${x} legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
.${x} progress {
  vertical-align: baseline;
}
.${x} textarea {
  overflow: auto;
}
.${x} [type="checkbox"],
.${x} [type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
.${x} [type="number"]::-webkit-inner-spin-button,
.${x} [type="number"]::-webkit-outer-spin-button {
  height: auto;
}
.${x} [type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
.${x} [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.${x} ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
.${x} details {
  display: block;
}
.${x} summary {
  display: list-item;
}
.${x} template {
  display: none;
}
.${x} [hidden] {
  display: none;
}

/*Custom reset*/
.${x} {
  font-family: sans-serif;
  font-size: 18px;
  color: #222222;
}
.${x},
.${x} * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
.${x} a {
  text-decoration: none;
  color: inherit;
}
.${x} ul,
.${x} ol,
.${x} p,
.${x} blockquote,
.${x} code,
.${x} h1,
.${x} h2,
.${x} h3,
.${x} h4,
.${x} h5,
.${x} h6 {
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: normal;
}
.${x} h1 {
  font-size: 2em;
}
.${x} h2 {
  font-size: 1.8em;
}
.${x} h3 {
  font-size: 1.6em;
}
.${x} h4 {
  font-size: 1.4em;
}
.${x} h5 {
  font-size: 1.2em;
}
.${x} h6 {
  font-size: 1em;
}
.${x} small,
.${x} sup,
.${x} sub {
  font-size: 0.8em;
}
.${x} table {
  width: 100%;
  border-collapse: collapse;
}
.${x} th {
  font-weight: normal;
}
.${x} th,
.${x} td {
  padding: 0;
  vertical-align: middle;
}
.${x} br {
  line-height: 1em;
}
.${x} hr {
  border: 0;
  height: 1px;
  margin: 1em 0;
  background-color: #CCCCCC;
}
.${x} input,
.${x} select,
.${x} textarea,
.${x} button {
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5;
  border: 1px solid #CCCCCC;
  padding: 0.25em 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.${x} input::-ms-expand,
.${x} select::-ms-expand,
.${x} textarea::-ms-expand,
.${x} button::-ms-expand {
  display: none;
}
.${x} input,
.${x} select,
.${x} textarea,
.${x} button,
.${x} input:focus,
.${x} select:focus,
.${x} textarea:focus,
.${x} button:focus {
  outline: none;
}
.${x} input,
.${x} select,
.${x} textarea {
  background-color: #FFFFFF;
}
.${x} select,
.${x} button,
.${x} input[type="submit"] {
  cursor: pointer;
}
.${x} button,
.${x} input[type="submit"] {
  background-color: #CCCCCC;
}
.${x} button::-moz-focus-inner,
.${x} a::-moz-focus-inner {
  border: 0;
}
.${x} label {
  display: inline-block;
}
<?);?>