<?CSS(?>

/* Columns */
.${r} .${x}same-size {
    table-layout: fixed;
}

.${r} .${x}cols {
    display: table;
    width: 100%;
}

.${r} .${x}col,
.${r} .${x}cols > * {
    width: auto;
    float: none;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.${r} .${x}col0 { width: ${((100/12)*0)}% }
.${r} .${x}col1 { width: ${((100/12)*1)}%; }
.${r} .${x}col2 { width: ${((100/12)*2)}%; }
.${r} .${x}col3 { width: ${((100/12)*3)}%; }
.${r} .${x}col4 { width: ${((100/12)*4)}%; }
.${r} .${x}col5 { width: ${((100/12)*5)}%; }
.${r} .${x}col6 { width: ${((100/12)*6)}%; }
.${r} .${x}col7 { width: ${((100/12)*7)}%; }
.${r} .${x}col8 { width: ${((100/12)*8)}%; }
.${r} .${x}col9 { width: ${((100/12)*9)}%; }
.${r} .${x}col10 { width: ${((100/12)*10)}%; }
.${r} .${x}col11 { width: ${((100/12)*11)}%; }
.${r} .${x}col12 { width: ${((100/12)*12)}%; }


/*Flex*/
.${r} .${x}flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.${r} .${x}flex-m {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

<?);?>
