<?CSS(?>

.${x} .${x}-pad     { padding: 0.5em; }
.${x} .${x}-pad-xl  { padding: 2em; }
.${x} .${x}-pad-lg  { padding: 1.5em; }
.${x} .${x}-pad-md  { padding: 1em; }
.${x} .${x}-pad-sm  { padding: 0.5em; }
.${x} .${x}-pad-xs  { padding: 0.25em; }
.${x} .${x}-pad-no  { padding: 0em; }

.${x} .${x}-pad-x     { padding-left: 0.5em;  padding-right: 0.5em;}
.${x} .${x}-pad-x-xl  { padding-left: 2em; padding-right: 2em; }
.${x} .${x}-pad-x-lg  { padding-left: 1.5em; padding-right: 1.5em; }
.${x} .${x}-pad-x-md  { padding-left: 1em;   padding-right: 1em;   }
.${x} .${x}-pad-x-sm  { padding-left: 0.5em; padding-right: 0.5em; }
.${x} .${x}-pad-x-xs  { padding-left: 0.25em; padding-right: 0.25em; }
.${x} .${x}-pad-x-no  { padding-left: 0em;   padding-right: 0em;   }

.${x} .${x}-pad-y     { padding-top: 0.5em;  padding-bottom: 0.5em;}
.${x} .${x}-pad-y-xl  { padding-top: 2em; padding-bottom: 2em; }
.${x} .${x}-pad-y-lg  { padding-top: 1.5em; padding-bottom: 1.5em; }
.${x} .${x}-pad-y-md  { padding-top: 1em;   padding-bottom: 1em;   }
.${x} .${x}-pad-y-sm  { padding-top: 0.5em; padding-bottom: 0.5em; }
.${x} .${x}-pad-y-xs  { padding-top: 0.25em; padding-bottom: 0.25em; }
.${x} .${x}-pad-y-no  { padding-top: 0em;   padding-bottom: 0em;   }

.${x} .${x}-pad-t     { padding-top: 0.5em; }
.${x} .${x}-pad-t-xl  { padding-top: 2em; }
.${x} .${x}-pad-t-lg  { padding-top: 1.5em; }
.${x} .${x}-pad-t-md  { padding-top: 1em;   }
.${x} .${x}-pad-t-sm  { padding-top: 0.5em; }
.${x} .${x}-pad-t-xs  { padding-top: 0.25em; }
.${x} .${x}-pad-t-no  { padding-top: 0em;   }

.${x} .${x}-pad-r     { padding-right: 0.5em; }
.${x} .${x}-pad-r-xl  { padding-right: 2em; }
.${x} .${x}-pad-r-lg  { padding-right: 1.5em; }
.${x} .${x}-pad-r-md  { padding-right: 1em;   }
.${x} .${x}-pad-r-sm  { padding-right: 0.5em; }
.${x} .${x}-pad-r-xs  { padding-right: 0.25em; }
.${x} .${x}-pad-r-no  { padding-right: 0em;   }

.${x} .${x}-pad-b     { padding-bottom: 0.5em; }
.${x} .${x}-pad-b-xl  { padding-bottom: 2em; }
.${x} .${x}-pad-b-lg  { padding-bottom: 1.5em; }
.${x} .${x}-pad-b-md  { padding-bottom: 1em;   }
.${x} .${x}-pad-b-sm  { padding-bottom: 0.5em; }
.${x} .${x}-pad-b-xs  { padding-bottom: 0.25em; }
.${x} .${x}-pad-b-no  { padding-bottom: 0em;   }

.${x} .${x}-pad-l     { padding-left: 0.5em; }
.${x} .${x}-pad-l-xl  { padding-left: 2em; }
.${x} .${x}-pad-l-lg  { padding-left: 1.5em; }
.${x} .${x}-pad-l-md  { padding-left: 1em;   }
.${x} .${x}-pad-l-sm  { padding-left: 0.5em; }
.${x} .${x}-pad-l-xs  { padding-left: 0.25em; }
.${x} .${x}-pad-l-no  { padding-left: 0em;   }

<?);?>