<?CSS(?>

/*Text size*/
.${r} .${x}jumbo { font-size: 2.6em; }
.${r} .${x}bigger { font-size: 2.4em; }
.${r} .${x}big { font-size: 2.2em; }
.${r} .${x}h1 { font-size: 2em; }
.${r} .${x}h2 { font-size: 1.8em; }
.${r} .${x}h3 { font-size: 1.6em; }
.${r} .${x}h4 { font-size: 1.4em; }
.${r} .${x}h5 { font-size: 1.2em; }
.${r} .${x}h6 { font-size: 1em; }
.${r} .${x}small { font-size: 0.8em; }
.${r} .${x}smaller { font-size: 0.6em; }
.${r} .${x}micro { font-size: 0.4em; }
.${r} .${x}h0 { font-size: 0em; }

/*Text style*/
.${r} .${x}bolder { font-weight: 600; }
.${r} .${x}bold { font-weight: 500; }
.${r} .${x}regular { font-weight: 400; }
.${r} .${x}thin { font-weight: 300; }
.${r} .${x}thinner { font-weight: 200; }

.${r} .${x}italic { font-style: italic; }
.${r} .${x}upper { text-transform: uppercase; }
.${r} .${x}lower { text-transform: lowercase; }
.${r} .${x}underline { text-decoration: underline; }
.${r} .${x}nowrap { white-space: nowrap; }
.${r} .${x}ellipsis {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*Line height*/
.${r} .${x}lnh0  { line-height: 0; }
.${r} .${x}lnh05 { line-height: 0.5; }
.${r} .${x}lnh1  { line-height: 1; }

/*Cursor*/
.${r} .${x}pointer { cursor: pointer; }

/*Selection*/
.${r} .${x}unsel {
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.${r} .${x}sel {
    -ms-user-select: auto;
    user-select: auto;
    -moz-user-select: auto;
    -webkit-user-select: auto;
}

/*Box layout*/
.${r} .${x}block { display: block; }
.${r} .${x}inline { display: inline-block; }
.${r} .${x}hide { visibility: hidden; }
.${r} .${x}none { display: none; }
.${r} .${x}abs { position: absolute; }
.${r} .${x}rel { position: relative; }
.${r} .${x}fix { position: fixed; }
.${r} .${x}cbox {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.${r} .${x}bbox {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*Positioning*/
.${r} .${x}t { top: 0; }
.${r} .${x}r { right: 0; }
.${r} .${x}b { bottom: 0; }
.${r} .${x}l { left: 0; }
.${r} .${x}t100 { top: 100%; }
.${r} .${x}r100 { right: 100%; }
.${r} .${x}b100 { bottom: 100%; }
.${r} .${x}l100 { left: 100%; }

/*Sizing*/
.${r} .${x}full { width: 100%; height: 100%; }
.${r} .${x}full-x { width: 100%; }
.${r} .${x}full-y { height: 100%; }

/*Scroll*/
.${r} .${x}mask { overflow: hidden; }
.${r} .${x}scroll { overflow: auto; }
.${r} .${x}swiper {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.${r} .${x}swiper::-webkit-scrollbar { display: none; }

/*Align*/
.${r} .${x}align-c { text-align: center; }
.${r} .${x}align-r { text-align: right; }
.${r} .${x}align-l { text-align: left; }
.${r} .${x}align-m { vertical-align: middle; }
.${r} .${x}align-b { vertical-align: bottom; }
.${r} .${x}align-t { vertical-align: top; }

/*Radius*/
.${r} .${x}circ {
    -webkit-border-radius: 99999999px;
    border-radius: 99999999px;
}
.${r} .${x}rad {
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.${r} .${x}rad-no {
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.${r} .${x}rad-tl {
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}
.${r} .${x}rad-bl {
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.${r} .${x}rad-tr {
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}
.${r} .${x}rad-br {
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/*Shadow*/
.${r} .${x}shad {
    -webkit-box-shadow:
       0px 1px 3px 0px rgba(0,0,0,0.2),
       0px 1px 1px 0px rgba(0,0,0,0.2),
       0px 2px 1px -1px rgba(0,0,0,0.2)
   ;
    box-shadow:
       0px 1px 3px 0px rgba(0,0,0,0.2),
       0px 1px 1px 0px rgba(0,0,0,0.2),
       0px 2px 1px -1px rgba(0,0,0,0.2)
   ;
}
.${r} .${x}shad-no {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*Opacity*/
.${r} .${x}opc0 { opacity: 0; }
.${r} .${x}opc10 { opacity: 0.1; }
.${r} .${x}opc20 { opacity: 0.2; }
.${r} .${x}opc30 { opacity: 0.3; }
.${r} .${x}opc40 { opacity: 0.4; }
.${r} .${x}opc50 { opacity: 0.5; }
.${r} .${x}opc60 { opacity: 0.6; }
.${r} .${x}opc70 { opacity: 0.7; }
.${r} .${x}opc80 { opacity: 0.8; }
.${r} .${x}opc90 { opacity: 0.9; }
.${r} .${x}opc100 { opacity: 1; }

/*Border*/
.${r} .${x}bd { border-width: 1px; border-style: solid; }
.${r} .${x}bd-xs { border-width: 1px; border-style: solid; }
.${r} .${x}bd-sm { border-width: 2px; border-style: solid; }
.${r} .${x}bd-md { border-width: 3px; border-style: solid; }
.${r} .${x}bd-lg { border-width: 4px; border-style: solid; }
.${r} .${x}bd-xl { border-width: 5px; border-style: solid; }
.${r} .${x}bd-no { border: 0; }
.${r} .${x}bd-t-no { border-top: 0; }
.${r} .${x}bd-r-no { border-right: 0; }
.${r} .${x}bd-b-no { border-bottom: 0; }
.${r} .${x}bd-l-no { border-left: 0; }
.${r} .${x}dotted { border-style: dotted; }
.${r} .${x}dashed { border-style: dashed; }

/*Background image*/
.${r} .${x}bg-img {
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.${r} .${x}bg0 { background-size: 0%; }
.${r} .${x}bg10 { background-size: 10%; }
.${r} .${x}bg20 { background-size: 20%; }
.${r} .${x}bg30 { background-size: 30%; }
.${r} .${x}bg40 { background-size: 40%; }
.${r} .${x}bg50 { background-size: 50%; }
.${r} .${x}bg60 { background-size: 60%; }
.${r} .${x}bg70 { background-size: 70%; }
.${r} .${x}bg80 { background-size: 80%; }
.${r} .${x}bg90 { background-size: 90%; }
.${r} .${x}bg100 { background-size: 100%; }
.${r} .${x}cover { background-size: cover; }
.${r} .${x}contain { background-size: contain; }
.${r} .${x}repeat {
    background-size: auto;
    background-repeat: repeat;
}

/*Z Index*/
.${r} .${x}idx0 { z-index: 0; }
.${r} .${x}idx1 { z-index: 1; }
.${r} .${x}idx2 { z-index: 2; }
.${r} .${x}idx3 { z-index: 3; }
.${r} .${x}idx10 { z-index: 10; }
.${r} .${x}idx20 { z-index: 20; }
.${r} .${x}idx30 { z-index: 30; }
.${r} .${x}idx100 { z-index: 100; }
.${r} .${x}idx200 { z-index: 200; }
.${r} .${x}idx300 { z-index: 300; }
.${r} .${x}idx1000 { z-index: 1000; }
.${r} .${x}idx2000 { z-index: 2000; }
.${r} .${x}idx3000 { z-index: 3000; }
.${r} .${x}on-top { z-index: 999999999; }

/*Table*/
.${r} .${x}strp > *:nth-of-type(even) {
    background-color: rgba(0,0,0,0.2);
}

<?);?>